<div class="container1 text-center">
    <div class="container2">
        <h1>Why we're the best</h1>
        <hr class="danger">
        <div class="row">
            <div class="icons col-3">
                <span class="iconspan">🏢</span>
                <p>Accomodation</p><hr>
                <p>we offer the first selection of top notch hotels anywhere</p>
            </div>
            <div class="icons col-3">
                <span class="iconspan">🛧</span>
                <p>Transportation</p><hr>
                <p>Whether it's about plane tickets or shuttle bus tickets, we will set it up!</p>
            </div>
            <div class="icons col-3">
                <span class="iconspan">👥</span>
                <p>Seasoned agents</p><hr>
                <p>Make use of our agents combined experience</p>
            </div>
            <div class="icons col-3">
                <span class="iconspan">🟊</span>
                <p>Easy trip planning</p><hr>
                <p>Our travel agents are always ready to plan your perfect trip!</p>
            </div>
        </div>
    </div>
</div>